
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Ben  yazılımcının dotnet yazanını severim.</h1>
        <p class="lead"> Mustafa Kemal Atatürk </p>
        <img src="~/img/atatürk.jpg" />
    </div>
</div>