<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uii</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
      @await Html.PartialAsync("_navbar")
    </header>
    <div class="container">
        <div class="row">
        <div class="col-md-12">

                @if (TempData["message"] != null)
                {
                    var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String);
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-@message.AlertType">
                                @message.Message
                            </div>
                        </div>
                    </div>
                }

        @RenderBody()
    </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <footer class="bg-dark text-light text-center py-3">
                <p class="m-0">&copy; 2023 Tüm Hakları Saklıdır</p>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
