@model HomeViewModel 
@{
    var categories = Model.Categories;
    var products=Model.Products; 

}
  <div class="row mt-4" >
    <div class="col-md-3">
        <div class="list-group" role="tablist">
          @foreach (var category in categories)
            {
                <a asp-controller="Home" asp-action="GetProductsWithCategory" asp-route-id="@category.CategoryId" class="list-group-item list-group-item-action"> @category.Name</a>
            }
        </div>
    </div>

  
        <div class="col-md-9 mt-3 mb-4">
    <div class="row">
       @foreach (var product in products)
        {
                @await Html.PartialAsync("_product", product);
        }
    </div>
        </div>
     
</div>